<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.human.found.domain.lost.mapper.LostPoliceMapper">

    <insert id="insertLostPolice" parameterType="java.util.List">
        INSERT INTO lost_police (
            atc_id,
            lst_place,
            lst_prdt_nm,
            lst_sbjt,
            lst_ymd,
            prdt_cl_nm,
            done,
            is_deleted
        ) VALUES 
        <foreach collection="list" item="item" separator=",">
        (
            #{item.atcId},
            LEFT(#{item.lstPlace}, 100),   
            LEFT(#{item.lstPrdtNm}, 100),      
            LEFT(#{item.lstSbjt}, 100),  
            #{item.lstYmd}, <!-- 📌 STR_TO_DATE와 REPLACE를 제거하고 객체 그대로 주입 -->
            LEFT(#{item.prdtClNm}, 50),  
            0,                            
            0                             
        )
        </foreach>
        ON DUPLICATE KEY UPDATE
            lst_place    = VALUES(lst_place),
            lst_prdt_nm  = VALUES(lst_prdt_nm),
            lst_sbjt     = VALUES(lst_sbjt),
            lst_ymd      = VALUES(lst_ymd),
            prdt_cl_nm   = VALUES(prdt_cl_nm)
    </insert>

    <delete id="lostPoliceDelete">
        delete from lost_police
    </delete>

    <select id="selectLostDetail" resultType="com.human.found.domain.lost.vo.LostVO">
        SELECT 
            num, 
            atc_id AS atcId, 
            id, 
            lst_place AS lstPlace, 
            lst_prdt_nm AS lstPrdtNm, 
            lst_sbjt AS lstSbjt, 
            lst_ymd AS lstYmd, 
            prdt_cl_nm AS prdtClNm, 
            created_at, 
            updated_at, 
            done, 
            is_deleted
        FROM lost_police
        WHERE atc_id = #{atcId}
    </select>

    <select id="selectLostPoliceList" resultType="com.human.found.domain.lost.vo.LostVO">
        SELECT 
            num, 
            atc_id AS atcId, 
            id, 
            lst_place AS lstPlace, 
            lst_prdt_nm AS lstPrdtNm, 
            lst_sbjt AS lstSbjt, 
            lst_ymd AS lstYmd, 
            prdt_cl_nm AS prdtClNm, 
            created_at, 
            updated_at, 
            done, 
            is_deleted
        FROM lost_police
        ORDER BY num DESC
    </select>

</mapper>