<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.human.found.domain.lost.mapper.LostFileMapper" >

<insert id="insertFile"
        parameterType="com.human.found.domain.lost.vo.LostFileVO">
    INSERT INTO lost_file(
        lst_filepath_img,
        atc_id,
        save_name,
        file_size,
        file_path
    )VALUES(
        #{lstFilepathImg},
        #{atcId},
        #{saveName},
        #{fileSize},
        #{filePath}
    )

</insert>    

<select id="findById"
        resultType="com.human.found.domain.lost.vo.LostFileVO">
SELECT *
    FROM lost_file
    WHERE atc_id=#{atcId}
</select>

<delete id="deleteByAtcId">
    DELETE FROM lost_file
    WHERE atc_id=#{atcId}

</delete>

<!-- 수정게시판 파일 삭제 -->
<delete id="deleteBySaveName">
    DELETE FROM lost_file
    WHERE save_name=#{saveName}
</delete>


</mapper>