<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.human.found.domain.lost.mapper.LostMapper" >



<insert id="insertLost"
        parameterType="com.human.found.domain.lost.vo.LostVO"
        useGeneratedKeys="true"
        keyProperty="num"
        >
INSERT INTO lost(
atc_id,
id,
lst_place,
lst_prdt_nm,
lst_sbjt,
lst_ymd,
prdt_cl_nm,
done,
is_deleted,
lst_filepath_img

)VALUES(
#{atcId},
#{id},
#{lstPlace},
#{lstPrdtNm},
#{lstSbjt},
#{lstYmd},
#{prdtClNm},
#{done},
#{isDeleted},
#{fd_filepath_img}
)         

</insert>

<select id="selectLostList"
resultType="com.human.found.domain.lost.vo.LostVO"
>
SELECT 
num,
atc_id,
id,
lst_place,
lst_prdt_nm,
lst_sbjt,
lst_ymd,
prdt_cl_nm,
created_at,
updated_at,
done,
is_deleted,
lst_filepath_img,
'user' AS dataSource
FROM lost
WHERE is_deleted=0
UNION ALL   

SELECT 
num,
atc_id,
id,
lst_place,
lst_prdt_nm,
lst_sbjt,
lst_ymd,
prdt_cl_nm,
created_at,
updated_at,
done,
is_deleted,
lst_filepath_img,
'police' AS dataSource
FROM lost_police
WHERE 
        is_deleted=0
<!-- UNION ALL  

SELECT 
num,
atc_id,
id,
lst_place,
lst_prdt_nm,
lst_sbjt,
lst_ymd,
prdt_cl_nm,
created_at,
updated_at,
done,
is_deleted
FROM lost_portal
WHERE 
        is_deleted=0  -->
ORDER BY lst_ymd DESC
LIMIT 10

</select>

<select id="selectlostbyId"
resultType="com.human.found.domain.lost.vo.LostVO">
        SELECT *
        FROM lost
        WHERE num=#{lostNum}
</select>

<update id="lostupdateDelte">
        UPDATE lost
        SET is_deleted=1
        WHERE num=#{lostNum}
</update>

<select id="selectDetailAtcId"
parameterType="string"
resultType="com.human.found.domain.lost.vo.LostVO">
        SELECT * FROM(
        SELECT 
                num,
                atc_id,
                id,
                lst_place,
                lst_prdt_nm,
                lst_sbjt,
                lst_ymd,
                prdt_cl_nm,
                created_at,
                updated_at,
                done,
                is_deleted,
                lst_filepath_img,
                'user' AS dataSource <!--테이블라벨-->
        FROM lost
        WHERE is_deleted=0

        UNION ALL

        SELECT
                num,
                atc_id,
                id,
                lst_place,
                lst_prdt_nm,
                lst_sbjt,
                lst_ymd,
                prdt_cl_nm,
                created_at,
                updated_at,
                done,
                is_deleted,
                lst_filepath_img,
                'police' AS dataSource <!--테이블라벨-->
        FROM lost_police
        WHERE is_deleted=0       
        ) combined_lost
        WHERE combined_lost.atc_id = #{atcId}
</select>
</mapper>       