<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.human.found.domain.user.mapper.UserMapper">

    <resultMap id="userMap"
               type="com.human.found.domain.user.vo.UserVO">

        <id property="id" column="id"/>

        <result property="pw" column="pw"/>
        <result property="email" column="email"/>
        <result property="tel" column="tel"/>
        <result property="role" column="role"/>
        <result property="signUp" column="sign_up"/>
        <result property="deletedAt" column="deleted_at"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="status" column="status"/>

    </resultMap>

    <select id="findById"
            parameterType="map"
            resultMap="userMap">

        SELECT *
        FROM user
        WHERE id = #{id}
            AND is_deleted = 0

    </select>
    
    <select id="isUserExist"
            resultType="int">
        select count(*) from user
        where id=#{id}
            and name=#{name}
            and email=#{email}
    </select>

    <select id="findUserId"
            resultType="String">
        select id 
        from user
        where name=#{name}
            and email=#{email}
    </select>

    <update id="updatePassword">
        UPDATE user 
        SET password = #{encodedPassword} 
        WHERE user_id = #{userId}
    </update>


    <select id="selectMyPageCounts" parameterType="string" resultType="map">
        SELECT 
            <!-- 1. 내가 쓴 총 글 수 -->
            (SELECT COUNT(*) FROM lost WHERE id = #{userId} AND is_deleted = 0) + 
            (SELECT COUNT(*) FROM found WHERE id = #{userId} AND is_deleted = 0) AS total_count,
            
            <!-- 2. 진행 중인 글 수 (예: done이 0인 상태) -->
            (SELECT COUNT(*) FROM lost WHERE id = #{userId} AND done = 0 AND is_deleted = 0) + 
            (SELECT COUNT(*) FROM found WHERE id = #{userId} AND done = 0 AND is_deleted = 0) AS progress_count,
            
            <!-- 3. 완료된 글 수 (예: done이 1인 상태) -->
            (SELECT COUNT(*) FROM lost WHERE id = #{userId} AND done = 1 AND is_deleted = 0) + 
            (SELECT COUNT(*) FROM found WHERE id = #{userId} AND done = 1 AND is_deleted = 0) AS complete_count
    </select>

    <!-- 마이페이지용 최근 작성글 2개 조회 (게시글 등록일자 created_at 정렬 방식) -->
    <select id="selectMyRecentPostList" parameterType="string" resultType="com.human.found.domain.user.vo.MyPagePostVO">
        SELECT 
            total_recent.board_type AS boardType,
            total_recent.num,
            total_recent.atcId,
            total_recent.title,
            total_recent.content,
            total_recent.category,
            total_recent.done,
            total_recent.created_at AS createdAt
        FROM (
            SELECT 
                '습득' AS board_type,
                num, 
                atc_id AS atcId,
                fd_prdt_nm AS title,
                fd_sbjt AS content,       
                prdt_cl_nm AS category,    
                done, 
                created_at
            FROM found 
            WHERE id = #{userId} AND is_deleted = 0
            
            UNION ALL
            
            SELECT 
                '분실' AS board_type,
                num, 
                atc_id AS atcId,
                lst_prdt_nm AS title,
                lst_sbjt AS content,      
                prdt_cl_nm AS category,    
                done, 
                created_at
            FROM lost 
            WHERE id = #{userId} AND is_deleted = 0
        ) AS total_recent
        ORDER BY total_recent.created_at DESC 
        LIMIT 2
    </select>

    <!--마이페이지에서 본인이 작성한 글 모두를 불러오는 쿼리문-->
    <select id="selectMyAllPostList" parameterType="string" resultType="com.human.found.domain.user.vo.MyPagePostVO">
        SELECT 
            total_recent.boardType,
            total_recent.num,
            total_recent.title,
            total_recent.content,
            total_recent.category,
            total_recent.done,
            total_recent.createdAt,
            total_recent.atcId
        FROM (
            SELECT 
                '습득' AS boardType,
                num,
                fd_prdt_nm AS title,
                fd_sbjt AS content,
                prdt_cl_nm AS category,
                done,
                created_at AS createdAt,
                atc_id AS atcId
            FROM found 
            WHERE id = #{userId} AND is_deleted = 0
            
            UNION ALL
            
            SELECT 
                '분실' AS boardType,
                num,
                lst_prdt_nm AS title,
                lst_sbjt AS content,
                prdt_cl_nm AS category,
                done,
                created_at AS createdAt,
                atc_id AS atcId
            FROM lost 
            WHERE id = #{userId} AND is_deleted = 0
        ) AS total_recent
        ORDER BY total_recent.createdAt DESC 
    </select>


    <insert id = "insertUser" 
            parameterType = "com.human.found.domain.user.vo.UserVO">
        INSERT INTO user (
            id,
            pw,
            name,
            email,
            tel,
            status,
            role,
            sign_up,
            is_deleted
        )
        VALUES (
            #{id},
            #{pw},
            #{name},
            #{email},
            #{tel},
            'active',
            'USER',
            NOW(),
            0
        )
    </insert>

    <select id = "countById"
            parameterType = "String"
            resultType = "int">

            SELECT COUNT(*)
            FROM user
            WHERE id = #{id}
    </select>

    <select id="countByEmail"
            parameterType="String"
            resultType="int">

        SELECT COUNT(*)
        FROM user
        WHERE email = #{email}
    
    </select>

    <!-- 비밀번호만 업데이트 하는 매퍼 -->
    <update id="updatePasswordOnly">
        UPDATE user 
        SET pw = #{pw} 
        WHERE id = #{id}
    </update>

    <!-- UserMapper.xml 내부에 추가할 코드 -->
    <update id="updateUser" parameterType="com.human.found.domain.user.vo.UserVO">
        UPDATE user
        SET email = #{email},
        tel = #{tel}
        WHERE id = #{id}
    </update>


    <!-- 회원탈퇴 , 5년 보존 때문에 소프트 삭제-->
    <update id="withdrawUser"
            parameterType = "string">
        UPDATE user
        SET
            is_deleted = 1,
            deleted_at = NOW()
        WHERE id = #{id}
    </update>

    <!-- 이메일 중복 확인 -->
    <select id="isDuplicatedEmail" parameterType="string" resultType="int">
        SELECT COUNT(*) 
        FROM user 
        WHERE email = #{email}
    </select>
    
    <!-- 마이페이지 전용 습득물 완료처리 -->
    <update id="doneFoundPost" parameterType="String">
        update found
        set done=1
        where atc_id=#{atcId}
    </update>

    <!-- 마이페이지 전용 분실물 완료처리 -->
    <update id="doneLostPost" parameterType="String">
        update Lost
        set done=1
        where atc_id=#{atcId}
    </update>

    <!-- 마이페이지 전용 습득물 삭제 (is_deleted 업데이트) -->
    <update id="deleteFoundPostByAtcId" parameterType="string">
        UPDATE found 
        SET 
            is_deleted = 1, 
            updated_at = NOW() 
        WHERE atc_id = #{atcId}
    </update>

    <!-- 마이페이지 전용 분실물 삭제 (is_deleted 업데이트) -->
    <update id="deleteLostPostByAtcId" parameterType="string">
        UPDATE lost 
        SET 
            is_deleted = 1, 
            updated_at = NOW() 
        WHERE atc_id = #{atcId}
    </update>


    <select id="findAllCommentsByUserId" parameterType="string" resultType="com.human.found.domain.comment.vo.CommentVO">
        SELECT 
            fc.comment_num AS commentNum,
            fc.id,
            fc.num,
            fc.data_source AS dataSource,
            fc.content AS content, 
            fc.created_at AS createdAt,
            fc.updated_at AS updatedAt,
            fc.is_deleted AS isDeleted,
            f.fd_prdt_nm AS postTitle, 
            f.atc_id AS atcId,
            '습득' AS boardType,
            IFNULL(f.is_deleted, 1) AS postDeleted
        FROM found_comment fc
        LEFT JOIN found f ON fc.num = f.num 
        WHERE fc.id = #{userId} AND fc.is_deleted = 0

        UNION ALL

        SELECT 
            lc.comment_num AS commentNum,
            lc.id,
            lc.num,
            lc.data_source AS dataSource,
            lc.content AS content, 
            lc.created_at AS createdAt,
            lc.updated_at AS updatedAt,
            lc.is_deleted AS isDeleted,
            l.lst_prdt_nm AS postTitle, 
            l.atc_id AS atcId,
            '분실' AS boardType,
            IFNULL(l.is_deleted, 1) AS postDeleted
        FROM lost_comment lc
        LEFT JOIN lost l ON lc.num = l.num
        WHERE lc.id = #{userId} AND lc.is_deleted = 0

        ORDER BY updatedAt DESC
    </select>

    <!--사용자 모든 댓글 삭제하기-->
    <update id="deleteAllFoundCommentsByUserId" parameterType="string">
        UPDATE found_comment
        SET is_deleted = 1,
            deleted_at = NOW()
        WHERE id = #{userId} AND is_deleted = 0
    </update>

    <update id="deleteAllLostCommentsByUserId" parameterType="string">
        UPDATE lost_comment
        SET is_deleted = 1,
            deleted_at = NOW()
        WHERE id = #{userId} AND is_deleted = 0
    </update>

    <!-- 로그인 할 때 마지막 로그인 시간 업데이트-->
    <update id="updateLastLoginAt"
            parameterType="string">
        UPDATE user
        SET last_login_at = NOW()
        WHERE id=#{id}
    </update>

    <!-- 마지막 로그인 시간에서 일정 시간이 지나면 휴면 상태로 전환 -->
    <update id="updateDormant">
        UPDATE user
        SET status = 'dormant'
        WHERE is_deleted =0
            AND status = 'active'
            AND role NOT IN ('ADMIN', 'MANAGER')
            AND COALESCE(last_login_at, sign_up) 
                <![CDATA[<=]]> DATE_SUB(NOW(), INTERVAL 1 MINUTE)
    </update>

    <!-- 휴면 계정 해제 -->
    <update id="updateReActive"
            parameterType="string">
        UPDATE user
        SET status = 'active',
            last_login_at = NOW()
        WHERE is_deleted = 0
            AND status = 'dormant'
            AND id=#{id}
    </update>

</mapper>
