<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.human.found.domain.user.mapper.UserMapper">

    <resultMap id="userMap"
               type="com.human.found.domain.user.vo.UserVO">

        <id property="id" column="id"/>

        <result property="pw" column="pw"/>
        <result property="email" column="email"/>
        <result property="tel" column="tel"/>
        <result property="role" column="role"/>

        <result property="signUp" column="sign_up"/>
        <result property="deletedAt" column="deleted_at"/>
        <result property="deleted" column="deleted"/>

    </resultMap>

    <select id="findById"
            parameterType="String"
            resultMap="userMap">

        SELECT *
        FROM member
        WHERE id = #{id}
            AND is_deleted = 0

    </select>

    <insert id = "insertUser" 
            parameterType = "com.human.found.domain.user.vo.UserVO">
        INSERT INTO member (
            id,
            pw,
            name,
            email,
            tel,
            role,
            sign_up,
            is_deleted
        )
        VALUES (
            #{id},
            #{pw},
            #{name},
            #{email},
            #{tel},
            'USER',
            NOW(),
            0
        )
    </insert>

    <select id = "countById"
            parameterType = "String"
            resultType = "int">

            SELECT COUNT(*)
            FROM member
            WHERE id = #{id}
    </select>

    <select id="countByEmail"
            parameterType="String"
            resultType="int">

        SELECT COUNT(*)
        FROM member
        WHERE email = #{email}
    
    </select>

    <!-- 비밀번호만 업데이트 하는 매퍼 -->
    <update id="updatePasswordOnly">
        UPDATE member 
        SET pw = #{pw} 
        WHERE id = #{id}
    </update>

    <!-- UserMapper.xml 내부에 추가할 코드 -->
    <update id="updateUser" parameterType="com.human.found.domain.user.vo.UserVO">
        UPDATE member
        SET email = #{email},
        tel = #{tel}
        WHERE id = #{id}
    </update>

    <!-- 회원탈퇴 , 5년 보존 때문에 소프트 삭제-->
    <update id="withdrawUser"
            parameterType = "string">
        UPDATE member
        SET
            is_deleted = 1,
            deleted_at = NOW()
        WHERE id = #{id}
    </update>

    <!-- 회원탈퇴 , 5년 보존 때문에 소프트 삭제-->
    <update id="withdrawUser"
            parameterType = "string">
        UPDATE member
        SET
            is_deleted = 1,
            deleted_at = NOW()
        WHERE id = #{id}
    </update>
</mapper>