<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.human.found.domain.found.mapper.FoundMapper">


<insert id="insertfound"
        parameterType="com.human.found.domain.found.vo.FoundVO"
        useGeneratedKeys="true"
        keyProperty="num">
    
    INSERT INTO found(
    atc_id,
    id,
    clr_nm,
    dep_place,
    fd_filepath_img,
    fd_prdt_nm,
    fd_sbjt,
    fd_ymd,
    prdt_cl_nm,
    done,
    is_deleted

    )VALUES(
    #{atcId},
    #{id},
    #{clrNm},
    #{depPlace},
    #{fdFilepathImg},
    #{fdPrdtNm},
    #{fdSbjt},
    #{fdYmd},
    #{prdtClNm},
    #{done},
    #{isDeleted}
    )
    
    
    </insert>

    <!--유니온-->
        <select id="selectFoundList"
    resultType="com.human.found.domain.found.vo.FoundVO">
        SELECT 
            num,
            atc_id,
            id,
            clr_nm,
            dep_place,
            fd_filepath_img,
            fd_prdt_nm,
            fd_sbjt,
            fd_ymd,
            prdt_cl_nm,
            created_at,
            updated_at,
            done,
            is_deleted
        FROM found
        WHERE 
            is_deleted=0 
        
        UNION ALL   
        
                SELECT 
            num,
            atc_id,
            id,
            clr_nm,
            dep_place,
            fd_filepath_img,
            fd_prdt_nm,
            fd_sbjt,
            fd_ymd,
            prdt_cl_nm,
            created_at,
            updated_at,
            done,
            is_deleted
        FROM found_police
        WHERE 
            is_deleted=0 
        ORDER BY fd_ymd DESC
        limit 0, 2

    </select>
<select id="SelectFoundById"
resultType="com.human.found.domain.found.vo.FoundVO">
    SELECT * 
    FROM found
    WHERE num =#{foundNum}
</select>
<update id="FoundupdateDelete">
    UPDATE found
    SET is_deleted=1
    WHERE num =#{foundNum}
</update>




</mapper>        
