<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.human.found.domain.admin.mapper.UserManageMapper">    
    
    <!-- 유저 상태 변경-->
    <update id="updateUserStatusById">
        UPDATE user
        SET 
            status = #{status},
            is_deleted = #{isDeleted},
            deleted_at =
            CASE
                WHEN #{isDeleted} = 1 THEN NOW()
                WHEN #{isDeleted} = 0 THEN NULL
                ELSE deleted_at
            END 
        WHERE id = #{id}
    </update>

    <!-- 유저 권한 변경 -->
    <update id="updateUserRoleById">
        UPDATE user
        SET role = #{role}
        WHERE id = #{id}
    </update>

    <!-- 유저 정보 변경 -->
    <update id="updateUserProfileById">
        UPDATE user
        SET
            name = #{name},
            email = #{email},
            tel = #{tel}
        WHERE id = #{id}
    </update>

    <!-- 유저 전체 리스트 조회(탈퇴회원 포함) -->
    <select id="totalUserList"
            resultType="com.human.found.domain.user.vo.UserVO">
        SELECT 
            id,
            name,
            email,
            tel,
            role,
            sign_up AS signUp, 
            status,
            is_deleted AS isDeleted,
            deleted_at AS deletedAt
        FROM user
        ORDER BY 
            CASE role
                WHEN 'ADMIN' THEN 1
                WHEN 'MANAGER' THEN 2
                ELSE 3
            END,
            id ASC
    </select>

    <!-- 유저 1명 조회(탈퇴회원 포함) -->
    <select id="findByIdIncludeDeleted"
            resultType="com.human.found.domain.user.vo.UserVO">
        SELECT
            id,
            name,
            email,
            tel,
            role,
            sign_up AS signUp,
            status,
            is_deleted AS isDeleted,
            deleted_at AS deletedAt
        FROM user
        WHERE id = #{id}
    </select>

    <select id="searchUsers"
            parameterType="com.human.found.domain.admin.dto.UserSearchConditionDTO"
            resultType="com.human.found.domain.user.vo.UserVO">
        
        SELECT
            id,
            name,
            email,
            tel,
            role,
            status,
            is_deleted As isDeleted,
            sign_up As signUp,
            deleted_at As deletedAt
        FROM user
  
        <include refid="userSearchWhere"/>

        ORDER BY 
            CASE role
                WHEN 'ADMIN' THEN 1
                WHEN 'MANAGER' THEN 2
                ELSE 3
            END,
            id ASC
        LIMIT #{size}
        OFFSET #{offset}

    </select>

    <select id="countUsers"
        parameterType="com.human.found.domain.admin.dto.UserSearchConditionDTO"
        resultType="int">

        SELECT COUNT(*)
        FROM user
          
        <include refid="userSearchWhere"/>


    </select>

    <select id="userInfoDownload"
            parameterType="com.human.found.domain.admin.dto.UserSearchConditionDTO"
            resultType="com.human.found.domain.user.vo.UserVO">
        SELECT
            id,
            name,
            email,
            tel,
            sign_up AS signUp,
            role,
            status,
            is_deleted AS isDeleted,
            deleted_at As deletedAt
        FROM user

        <include refid="userSearchWhere"/>

        ORDER BY
            CASE role
                WHEN 'ADMIN' THEN 1
                WHEN 'MANAGER' THEN 2
                ELSE 3
            END,
            id ASC
    </select>

    <!-- 회원 관리 페이지 내 검색 공통 where-->
    <sql id="userSearchWhere">
        WHERE 1 = 1

        <if test="keyword != null and keyword != ''">
            AND (
                id LIKE CONCAT('%', #{keyword}, '%')
                OR name LIKE CONCAT('%', #{keyword}, '%')
                OR email LIKE CONCAT('%', #{keyword}, '%')
            )
        </if>

        <if test="(statuses != null and statuses.size() > 0) or includeDeleted">
            AND (
                <if test="statuses != null and statuses.size() > 0">
                    (
                        is_deleted = 0
                        AND status IN
                        <foreach collection="statuses"
                                 item="status"
                                 open="("
                                 separator=","
                                 close=")">
                            #{status}
                        </foreach>
                    )
                </if>

                <if test="includeDeleted">
                    <if test="statuses != null and statuses.size() > 0">
                        OR
                    </if>
                    is_deleted = 1
                </if>
            )
        </if>

        <if test="roles != null and roles.size() > 0">
            AND role IN
            <foreach collection="roles"
                     item="role"
                     open="("
                     separator=","
                     close=")">
                #{role}
            </foreach>
        </if>

        <if test="startDate != null and startDate != ''">
            AND sign_up &gt;= STR_TO_DATE(CONCAT(#{startDate}, ' 00:00:00'), '%Y-%m-%d %H:%i:%s')
        </if>

        <if test="endDate != null and endDate != ''">
            AND sign_up &lt;= STR_TO_DATE(CONCAT(#{endDate}, ' 23:59:59'), '%Y-%m-%d %H:%i:%s')
        </if>
    </sql>

    
</mapper>